<template>
  <div class="container">
    <h1 class="title flex items-center justify-center">
      <img src="../../assets/logo.svg" alt="Jihu" width="100" height="56" />
      Jihu Frontend Code Test
    </h1>
    <ul class="links">
      <li class="link">
        <router-link :to="{ name: 'problem-1' }" target="_blank">
          <span>The solution for problem 1</span>
        </router-link>
      </li>
      <li class="link">
        <router-link :to="{ name: 'problem-2' }" target="_blank">
          <span>The solution for problem 2</span>
        </router-link>
      </li>
      <li class="link">
        <a
          href="https://jihulab.com/weidan/jihu-frontend-code-test"
          target="_blank"
        >
          <span>Source code</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="stylus">
.container
  margin 30px auto
  padding 0 30px

.title
  font-size 36px;
  font-weight bold
  text-align center

.links
  max-width 500px
  margin 40px auto

.link > a
  display block
  width 100%
  height 100%
  padding 40px
  font-size 30px
  color #0f1da4
  border 1px solid #e0e4e9
  margin-top -1px
  transition box-shadow 0.3s

  &:hover
    text-decoration underline
    box-shadow 0 0 20px #eee

  &:before
    content '🔗 '
</style>
