<script lang="ts" setup>
import { computed, ref } from 'vue'

const props = defineProps<{
  modelValue: {
    top: number
    left: number
  }
}>()

const emit = defineEmits(['update:modelValue', 'drag-start', 'drag-end'])

const isDragging = ref(false)
const mousePosition = ref({ clientX: 0, clientY: 0 })

const transformStyle = computed(
  () => `translate3d(${props.modelValue.left}px, ${props.modelValue.top}px, 0)`
)

function onDragStart(e: MouseEvent) {
  const { clientX, clientY } = e
  isDragging.value = true
  mousePosition.value = { clientX, clientY }

  document.addEventListener('mousemove', onDrag)
  document.addEventListener('mouseup', onDragEnd)

  emit('drag-start')
}

function onDrag(e: MouseEvent) {
  const { clientX, clientY } = e
  const blockPosition = {
    top: props.modelValue.top + clientY - mousePosition.value.clientY,
    left: props.modelValue.left + clientX - mousePosition.value.clientX,
  }
  mousePosition.value = { clientX, clientY }

  emit('update:modelValue', blockPosition)
}

function onDragEnd() {
  isDragging.value = false

  document.removeEventListener('mousemove', onDrag)
  document.removeEventListener('mouseup', onDragEnd)

  emit('drag-end')
}
</script>

<template>
  <div
    class="draggable-container"
    :class="{ dragging: isDragging }"
    :style="{ transform: transformStyle }"
    @mousedown="onDragStart"
  >
    <slot />
  </div>
</template>

<style scoped lang="stylus">
.draggable-container
  position absolute

.dragging
  cursor grab
</style>
