<script lang="ts" setup>
import type { Ref } from 'vue'
import { ref, unref, watchEffect } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import SortableContainer from './components/sortable-container.vue'
import ItemCard from './components/item-card.vue'
import testListData from '../../assets/test.json'

const router = useRouter()
const route = useRoute()

function cloneDeep(object: unknown) {
  return JSON.parse(JSON.stringify(object))
}
const list = ref(cloneDeep(testListData.data))
const initialKeyword = ref('')

let searchResultList: typeof list = ref([])
watchEffect(() => {
  searchResultList.value = []

  initialKeyword.value = `${route.query.keyword || ''}`
  if (initialKeyword.value) {
    searchResultList.value = list.value.filter(
      ({ title, tags }: { title: string; tags: string[] }) =>
        isMatch(title, initialKeyword) ||
        tags.some((tag: string) => isMatch(tag, initialKeyword))
    )
  }
})

const keyword = ref(initialKeyword.value)

function search() {
  router.push({
    name: 'problem-2',
    query: keyword.value ? { keyword: keyword.value } : {},
  })
}

function isMatch(string: string | Ref<string>, keyword: string | Ref<string>) {
  const lowerString = unref(string).toLowerCase()
  const lowerKeyword = unref(keyword).toLowerCase()
  return lowerString.includes(lowerKeyword)
}
</script>

<template>
  <div class="container">
    <form class="search-form flex" @submit.prevent="search">
      <input
        v-model="keyword"
        class="search-input flex-1"
        type="text"
        placeholder="Input title to filter"
        autofocus
      />
      <input class="search-button" type="submit" value="Search" />
    </form>

    <div v-if="initialKeyword">
      <template v-if="searchResultList.length">
        <item-card
          v-for="(item, index) in searchResultList"
          v-model="searchResultList[index]"
        />
      </template>
      <div v-else class="empty">No results found</div>
    </div>
    <sortable-container v-else v-model="list">
      <template #default="{ index }">
        <item-card v-model="list[index]" />
      </template>
    </sortable-container>
  </div>
</template>

<style scoped lang="stylus">
.container
  max-width 1200px
  margin 30px auto
  padding 0 30px

.search-form
  margin-bottom 25px

.search-input
  padding 10px
  margin-right 24px

.search-button
  background #a2a0e1
  padding 10px 20px
  border-radius 22px

.empty
  color #b4bac2
  font-size 20px
  text-align center
  margin-top 100px
</style>
