<script lang="ts" setup>
import { computed, ref } from 'vue'
import DraggableContainer from './components/draggable-container.vue'
import { isOverlap } from './utils'

const slotPosition = ref({ top: 0, left: 0 })
const blockPosition = ref({ top: 0, left: document.body.clientWidth - 100 })
const slotSize = ref({ width: 100, height: 100 })
const blockSize = ref({ width: 100, height: 100 })

const hasOverlappedArea = computed(() =>
  isOverlap({
    basePosition: blockPosition.value,
    baseSize: blockSize.value,
    targetPosition: slotPosition.value,
    targetSize: slotSize.value,
  })
)

const isPositionSynced = computed(
  () =>
    slotPosition.value.top === blockPosition.value.top &&
    slotPosition.value.left === blockPosition.value.left
)

function syncSlotPosition() {
  if (hasOverlappedArea.value) {
    slotPosition.value = { ...blockPosition.value }
  }
}

function syncBlockPosition() {
  if (hasOverlappedArea.value) {
    blockPosition.value = { ...slotPosition.value }
  }
}
</script>

<template>
  <draggable-container
    v-model="slotPosition"
    class="slot-container"
    @drag-end="syncSlotPosition"
  >
    <div class="square slot" :class="{ highlighted: hasOverlappedArea }" />
  </draggable-container>

  <draggable-container
    v-model="blockPosition"
    class="block-container"
    @drag-end="syncBlockPosition"
  >
    <div class="square block" :class="{ synced: isPositionSynced }" />
  </draggable-container>
</template>

<style scoped lang="stylus">
.square
  width 100px
  height 100px
  border 3px solid transparent
  box-sizing border-box
  background white

.slot
  border-color black

  &.highlighted
    border-color red

.block
  background orange
  border-color orange

  &.synced
    border-color red
</style>
