<script lang="ts" setup>
import TagsInput from '../components/tags-input.vue'
import { ref, watch, watchEffect } from 'vue'

const props = defineProps<{
  modelValue: {
    title: string
    tags: string[]
  }
}>()

const emit = defineEmits(['update:modelValue'])

const tags = ref<string[]>([])

watchEffect(() => {
  tags.value = props.modelValue.tags
})

watch(tags, () => {
  const { modelValue: item } = props
  item.tags = tags.value
  emit('update:modelValue', item)
})
</script>

<template>
  <div class="item-card">
    <div class="item-title">
      <span @mousedown.stop>{{ modelValue.title }}</span>
    </div>
    <tags-input v-model="tags" />
  </div>
</template>

<style scoped lang="stylus">
.item-card
  padding 30px 60px
  border 2px solid #e0e4e9
  margin-bottom 25px
  background white

  .sortable-item.dragging &
    border-color #d9cded

.item-title
  font-size 26px
</style>
