<script lang="ts" setup>
import { ref, watchEffect, computed, nextTick, watch } from 'vue'

const props = defineProps<{
  modelValue: {
    title: string
    tags: string[]
  }[]
}>()

const emit = defineEmits(['update:modelValue'])

let container = ref<HTMLDivElement>()
let currentDraggingItem = ref<{ title: string; tags: string[] } | null>(null)

const itemStyles = computed(() => {
  if (!currentDraggingItem.value || !itemElementPositions.value) return []

  return itemElementPositions.value.map((position) => ({
    transform: `translate3d(0, ${position}px, 0)`,
  }))
})

const mousePositionY = ref(0)
function onDragStart(e: MouseEvent, item: { title: string; tags: string[] }) {
  if (props.modelValue.length <= 1) return

  currentDraggingItem.value = item
  mousePositionY.value = e.clientY
  document.addEventListener('mousemove', onDrag)
  document.addEventListener('mouseup', onDragEnd)
}

function onDrag(e: MouseEvent) {
  if (!currentDraggingItem.value || !itemElementPositions.value) return
  const index = props.modelValue.indexOf(currentDraggingItem.value)
  if (index === -1) return

  const { clientY } = e
  itemElementPositions.value[index] += clientY - mousePositionY.value
  mousePositionY.value = clientY

  updateItemsAbsolutePositionsWithSortedOrder()
}

async function onDragEnd() {
  currentDraggingItem.value = null
  document.removeEventListener('mousemove', onDrag)
  document.removeEventListener('mouseup', onDragEnd)

  const sortedItems = getSortedItems()
  emit('update:modelValue', sortedItems)

  await nextTick()
  updateItemsAbsolutePositions()
}

function getSortedItems() {
  const itemsRecords: {
    middlePosition: number
    item: { title: string; tags: string[] }
  }[] = []
  const itemElements = container.value?.children
  itemElementPositions.value?.forEach((position, index) => {
    const itemElement = itemElements?.[index] as HTMLDivElement
    const itemHeight = itemElement.offsetHeight
    const middlePosition = position + itemHeight / 2
    itemsRecords.push({ middlePosition, item: props.modelValue[index] })
  })
  itemsRecords.sort((a, b) => a.middlePosition - b.middlePosition)
  const sortedItems = itemsRecords.map(({ item }) => item)
  return sortedItems
}

const itemElementPositions = ref<number[] | null>(null)
const containerHeight = ref(0)

function updateItemsAbsolutePositions() {
  const containerElement = container.value
  if (!containerElement) return

  containerHeight.value = containerElement?.offsetHeight
  const itemElements = containerElement.children
  if (itemElements) {
    // @ts-expect-error ts does not consider HTMLCollection as iterable class
    itemElementPositions.value = [...itemElements].map(
      ({ offsetTop }) => offsetTop
    )
  }
}

function updateItemsAbsolutePositionsWithSortedOrder() {
  let cursor = 0
  const sortedItems = getSortedItems()
  sortedItems.forEach((item: { title: string; tags: string[] }) => {
    if (!itemElementPositions.value) return
    const indexBeforeSorted = props.modelValue.indexOf(item)
    if (indexBeforeSorted === -1) return

    const itemElement = container.value?.children?.[
      indexBeforeSorted
    ] as HTMLDivElement
    if (item !== currentDraggingItem.value) {
      itemElementPositions.value[indexBeforeSorted] = cursor
    }
    cursor += itemElement.offsetHeight
  })
}

watchEffect(updateItemsAbsolutePositions)

// watch for height changes caused by editting tags
watch(
  () => props.modelValue,
  async () => {
    await nextTick()
    updateItemsAbsolutePositions()
  },
  { deep: true }
)
</script>

<template>
  <div
    ref="container"
    class="sortable-container"
    :class="{ dragging: currentDraggingItem }"
    :style="currentDraggingItem ? { height: `${containerHeight}px` } : {}"
  >
    <div
      v-for="(item, index) in modelValue"
      class="sortable-item"
      :class="{ dragging: currentDraggingItem === item }"
      :style="itemStyles[index]"
      @mousedown="onDragStart($event, item)"
    >
      <slot :item="item" :index="index" />
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.sortable-container
  position relative

  .sortable-item
    list-style-type none

  &.dragging .sortable-item
    position absolute
    width 100%
    cursor grab
    user-select none
    opacity 0.5

    &.dragging.sortable-item
      opacity 1
      z-index 1
</style>
