<script lang="ts" setup>
import { ref, nextTick, watchEffect } from 'vue'

const props = defineProps<{
  modelValue: boolean
}>()

const emit = defineEmits(['update:modelValue', 'submit'])

const tag = ref('')
function addTag() {
  if (tag.value) {
    emit('submit', tag.value)
    closeModal()
  }
}

function closeModal() {
  emit('update:modelValue', false)
}

const tagInput = ref<HTMLInputElement>()

watchEffect(async () => {
  if (props.modelValue) {
    tag.value = ''
    await nextTick()
    tagInput.value?.focus?.()
  }
})
</script>

<template>
  <div
    v-if="modelValue"
    class="tag-modal-container fixed w-screen h-screen left-0 top-0 flex items-center justify-center"
    @mousedown.stop
  >
    <form class="tag-modal" @submit.prevent="addTag">
      <button class="close-modal-button" type="button" @click="closeModal">
        &times;
      </button>

      <h3 class="tag-modal-title">Input the name of the tag you want to add</h3>

      <input
        ref="tagInput"
        v-model="tag"
        class="tag-input"
        type="text"
        required
        autofocus
        maxlength="140"
        placeholder="TagX"
      />

      <div class="tag-modal-footer flex justify-center">
        <button type="submit" class="modal-button modal-button-primary">
          Add Tags
        </button>
        <button
          type="button"
          class="modal-button modal-button-cancel"
          @click="closeModal"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped lang="stylus">
.tag-modal-container
  background rgba(0, 0, 0, 0.5)

.tag-modal
  background white
  padding 20px 40px 40px 40px
  width 440px
  position relative

.close-modal-button
  position absolute
  top 0
  right 0
  font-size 20px
  line-height 1
  font-weight bold
  padding 10px

.tag-modal-title
  font-weight bold

.tag-input
  display block
  width 100%
  margin-top 30px
  padding 6px 12px

.tag-modal-footer
  margin-top 30px

.modal-button
  color white
  border 2px
  margin 0 5px
  padding 5px 28px
  border-radius 2px

.modal-button-primary
  background #605ee9

.modal-button-cancel
  background #65a99e
</style>
