<script lang="ts" setup>
import TagModal from './tag-modal.vue'
import { ref } from 'vue'

const props = defineProps<{
  modelValue: string[]
}>()

const emit = defineEmits(['update:modelValue'])

const isAddTagModalOpen = ref(false)

function showAddTagModal() {
  isAddTagModalOpen.value = true
}

function addTag(tag: string) {
  if (tag) {
    const tags = [...props.modelValue, tag]
    emit('update:modelValue', tags)
  }
}

function removeTag(index: number) {
  const tags = [...props.modelValue]
  tags.splice(index, 1)
  emit('update:modelValue', tags)
}
</script>

<template>
  <div class="tags-input flex items-center flex-wrap">
    <button class="add-tag-button" @click="showAddTagModal" @mousedown.stop>
      +
    </button>
    <div
      v-for="(tag, index) in modelValue"
      class="tag flex items-center"
      @mousedown.stop
    >
      <div class="tag-text break-all">{{ tag }}</div>
      <button class="remove-tag-button" @click="removeTag(index)">
        &times;
      </button>
    </div>
    <tag-modal v-model="isAddTagModalOpen" @submit="addTag($event)" />
  </div>
</template>

<style scoped lang="stylus">
.tags-input
  line-height 1.6
  margin-top 40px

.add-tag-button
  background #6757f5
  color white
  width 30px
  height @width
  font-weight bold
  font-size 40px
  line-height @height
  border-radius 2px
  margin 3px 16px 13px 0

.tag
  background #e1e6ec
  border 2px solid #c0c8d2
  padding 5px 14px 5px 16px
  font-size 14px
  line-height 1
  margin 0 20px 10px 0
  border-radius 18px

.remove-tag-button
  margin-left 16px
  font-size 18px
  width 22px
  height 22px
  line-height 1
</style>
